streamlit==1.32.0
pypdf==4.0.1
langchain-text-splitters==0.0.1
langchain-huggingface==0.0.1
langchain-pinecone==0.0.1
langchain-core==0.1.0
langchain==0.1.0
pinecone-client==3.0.0
sentence-transformers==2.3.1
torch==2.1.0
